<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_P19WcfService" />
        <binding name="BasicHttpBinding_P71WcfService" />
        <binding name="BasicHttpBinding_P02WcfService" />
        <binding name="BasicHttpBinding_P05WcfService" />
        <binding name="BasicHttpBinding_P08WcfService" />
        <binding name="BasicHttpBinding_P06WcfService" />
        <binding name="BasicHttpBinding_P91WcfService" />
        <binding name="BasicHttpBinding_P01WcfService" />
        <binding name="BasicHttpBinding_P20WcfService" />
        <binding name="BasicHttpBinding_P21WcfService" />
        <binding name="BasicHttpBinding_P54WcfService" />
        <binding name="BasicHttpBinding_P11WcfService" />
        <binding name="BasicHttpBinding_P25WcfService" />
        <binding name="BasicHttpBinding_P93WcfService" />
        <binding name="BasicHttpBinding_P70WcfService" />
        <binding name="BasicHttpBinding_P15WcfService" />
        <binding name="BasicHttpBinding_P16WcfService" />
        <binding name="BasicHttpBinding_T05WcfService" />
        <binding name="BasicHttpBinding_P05WcfService1" />
        <binding name="BasicHttpBinding_P50WcfService" />
        <binding name="BasicHttpBinding_S01WcfService" />
        <binding name="BasicHttpBinding_P14WcfService" />
        <binding name="BasicHttpBinding_P01WcfService1" />
        <binding name="BasicHttpBinding_R01WcfService" />
        <binding name="BasicHttpBinding_P70WcfService1" />
        <binding name="BasicHttpBinding_S99WcfService" />
        <binding name="BasicHttpBinding_S00WcfService" />
        <binding name="BasicHttpBinding_S03WcfService" />
        <binding name="BasicHttpBinding_P71WcfService1" />
        <binding name="BasicHttpBinding_SharedWcfService" />
        <binding name="BasicHttpBinding_SignalRWcfService" />
        <binding name="BasicHttpBinding_P18WcfService" />
        <binding name="BasicHttpBinding_ELogisticWcfService" />
        <binding name="BasicHttpBinding_SimpleMartWcfService" />
        <binding name="BasicHttpBinding_YCWcfService" />
        <binding name="BasicHttpBinding_S05WcfService" />
        <binding name="BasicHttpBinding_S16WcfService" />
        <binding name="BasicHttpBinding_P21WcfService1" />
        <binding name="BasicHttpBinding_S19WcfService" />
        <binding name="BasicHttpBinding_TransApiWcfService" />
        <binding name="BasicHttpBinding_ExportWcfService" />
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpBinding_P06WcfService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_P16WcfService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_P16WcfService1">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_P91WcfService1">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_P19WcfService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_P21WcfService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_P25WcfService1">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_P05WcfService1">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_P71WcfService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_S01WcfService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_P14WcfService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_P05WcfService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_P54WcfService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_P14WcfService1">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_P91WcfService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_P54WcfService1">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_P71WcfService1">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_S99WcfService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_S03WcfService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_P18WcfService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="http://ewmsap/iWms.WebServices/P01WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P01WcfService"
        contract="P01WcfService.P01WcfService" name="BasicHttpBinding_P01WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P71WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P71WcfService"
        contract="P71WcfService.P71WcfService" name="BasicHttpBindin_P71WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P70WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P70WcfService"
        contract="P70WcfService.P70WcfService" name="BasicHttpBinding_P70WcfService" />
      <endpoint address="net.tcp://hp-pc.bankpro.com.tw/wms3pl.webservices/S03WcfService.svc"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_S03WcfService"
        contract="S03WcfService.S03WcfService" name="NetTcpBinding_S03WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P11WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P11WcfService"
        contract="P11WcfService.P11WcfService" name="BasicHttpBinding_P11WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P54WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P54WcfService"
        contract="P54WcfService.P54WcfService" name="BasicHttpBinding_P54WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P70WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P70WcfService1"
        contract="P70WcfService.P70WcfService" name="BasicHttpBinding_P70WcfService1" />
      <endpoint address="http://ewmsap/iWms.WebServices/P93WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P93WcfService"
        contract="P93WcfService.P93WcfService" name="BasicHttpBinding_P93WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/S01WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_S01WcfService"
        contract="S01WcfService.S01WcfService" name="BasicHttpBinding_S01WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/T05WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_T05WcfService"
        contract="T05WcfService.T05WcfService" name="BasicHttpBinding_T05WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/ELogisticWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ELogisticWcfService"
        contract="ELogisticWcfService.ELogisticWcfService" name="BasicHttpBinding_ELogisticWcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/SimpleMartWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SimpleMartWcfService"
        contract="SimpleMartWcfService.SimpleMartWcfService" name="BasicHttpBinding_SimpleMartWcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/YCWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_YCWcfService"
        contract="YCWcfService.YCWcfService" name="BasicHttpBinding_YCWcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/S05WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_S05WcfService"
        contract="S05WcfService.S05WcfService" name="BasicHttpBinding_S05WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P91WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P91WcfService"
        contract="P91WcfService.P91WcfService" name="BasicHttpBinding_P91WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P20WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P20WcfService"
        contract="P20WcfService.P20WcfService" name="BasicHttpBinding_P20WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P08WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P08WcfService"
        contract="P08WcfService.P08WcfService" name="BasicHttpBinding_P08WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P19WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P19WcfService"
        contract="P19WcfService.P19WcfService" name="BasicHttpBinding_P19WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/SharedWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SharedWcfService"
        contract="SharedWcfService.SharedWcfService" name="BasicHttpBinding_SharedWcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P15WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P15WcfService"
        contract="P15WcfService.P15WcfService" name="BasicHttpBinding_P15WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P02WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P02WcfService"
        contract="P02WcfService.P02WcfService" name="BasicHttpBinding_P02WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P71WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P71WcfService1"
        contract="P71WcfService.P71WcfService" name="BasicHttpBinding_P71WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/TransApiWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_TransApiWcfService"
        contract="TransApiWcfService.TransApiWcfService" name="BasicHttpBinding_TransApiWcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P01WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P01WcfService1"
        contract="P01WcfService.P01WcfService" name="BasicHttpBinding_P01WcfService1" />
      <endpoint address="http://ewmsap/iWms.WebServices/P06WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P06WcfService"
        contract="P06WcfService.P06WcfService" name="BasicHttpBinding_P06WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/ExportWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ExportWcfService"
        contract="ExportWcfService.ExportWcfService" name="BasicHttpBinding_ExportWcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/S19WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_S19WcfService"
        contract="S19WcfService.S19WcfService" name="BasicHttpBinding_S19WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/R01WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_R01WcfService"
        contract="R01WcfService.R01WcfService" name="BasicHttpBinding_R01WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P21WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P21WcfService1"
        contract="P21WcfService.P21WcfService" name="BasicHttpBinding_P21WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P25WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P25WcfService"
        contract="P25WcfService.P25WcfService" name="BasicHttpBinding_P25WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P14WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P14WcfService"
        contract="P14WcfService.P14WcfService" name="BasicHttpBinding_P14WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P18WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P18WcfService"
        contract="P18WcfService.P18WcfService" name="BasicHttpBinding_P18WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P50WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P50WcfService"
        contract="P50WcfService.P50WcfService" name="BasicHttpBinding_P50WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/S00WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_S00WcfService"
        contract="S00WcfService.S00WcfService" name="BasicHttpBinding_S00WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/S03WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_S03WcfService"
        contract="S03WcfService.S03WcfService" name="BasicHttpBinding_S03WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/S16WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_S16WcfService"
        contract="S16WcfService.S16WcfService" name="BasicHttpBinding_S16WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/S99WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_S99WcfService"
        contract="S99WcfService.S99WcfService" name="BasicHttpBinding_S99WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/SignalRWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SignalRWcfService"
        contract="SignalRWcfService.SignalRWcfService" name="BasicHttpBinding_SignalRWcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P05WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P05WcfService1"
        contract="P05WcfService.P05WcfService" name="BasicHttpBinding_P05WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P16WcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_P16WcfService"
        contract="P16WcfService.P16WcfService" name="BasicHttpBinding_P16WcfService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>
