<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
			     toAddress="joesun@bankpro.com.tw;tammychen@bankpro.com.tw;jawa@bankpro.com.tw;linrobin@bankpro.com.tw"
			     smtpServer="msa.hinet.net"
			     fromAddress="WMS_SYSTEM@bankpro.com.tw"
			     subjectLineStarter="BpWMS 3PL Console RemoveGoldLoc orrcued" subjectLineEnder=", please verify it." formatter="Text Formatter"
			     xdt:Transform="Replace" xdt:Locator="Match(name)"/>
		</listeners>
		<categorySources>
			<add switchValue="All" name="General" xdt:Transform="Replace" xdt:Locator="Match(name)" >
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
					<add name="Email Trace Listener" />
				</listeners>
			</add>
		</categorySources>
	</loggingConfiguration>
	
	
	<appSettings>
		<add key="FilePath" value="c:\BpWms3pl\File\Refine\{0}\{1}\{2}\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
	</appSettings>
</configuration>