<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					 toAddress="joesun@bankpro.com.tw;tammychen@bankpro.com.tw;jawa@bankpro.com.tw;linrobin@bankpro.com.tw"
					 fromAddress="WMS_SYSTEM@bankpro.com.tw" 
					 subjectLineStarter="[DEV]BpWMS 3PL Console Check orrcued" 
					 subjectLineEnder=", please verify it." 
					 smtpServer="msa.hinet.net" formatter="Text Formatter" 
					 xdt:Transform="Replace" xdt:Locator="Match(name)" />
		</listeners>
	</loggingConfiguration>

	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="測試用&lt;WMS_SYSTEM@bankpro.com.tw&gt;" xdt:Transform="Replace">
				<network defaultCredentials="false" host="msa.hinet.net" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>