<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<securityCryptographyConfiguration defaultHashInstance="SHA256Managed" defaultSymmetricCryptoInstance="DESCryptoServiceProvider">
		<symmetricCryptoProviders>
			<add name="DESCryptoServiceProvider" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" algorithmType="System.Security.Cryptography.DESCryptoServiceProvider, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" protectedKeyFilename="C:\iWms3pl\Key\Wms3pl.key" protectedKeyProtectionScope="LocalMachine"
					 xdt:Locator="Match(name)" xdt:Transform="Replace"/>
		</symmetricCryptoProviders>
	</securityCryptographyConfiguration>
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="SqlRolling" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\iWms3pl\ECLog\Server\BpSqlString.txt" formatter="SqlText" rollInterval="Day"
					 xdt:Locator="Match(name)" xdt:Transform="Replace"/>
			<add name="Exceptions Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\iWms3pl\ECLog\Server\BpWebServerExceptions.log" formatter="Text Formatter" rollInterval="Day"
					 xdt:Locator="Match(name)" xdt:Transform="Replace"/>
			<add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				toAddress="tammychen@bankpro.com.tw"
        smtpServer="msa.hinet.net"
        authenticationMode="UserNameAndPassword" useSSL="false" 
				fromAddress="BPWMS@bankpro.com.tw"
        subjectLineStarter="iWms 3PL WebServices orrcued " subjectLineEnder=", please verify it." formatter="Text Formatter"
			  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
		</listeners>
	</loggingConfiguration>
	<appSettings>
		<add key="Schema" value="ECWMS" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<add key="FtpDownloadFolder" value="C:\iWms\Download\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<add key="MessageFromEmail" value="BPWMS@bankpro.com.tw" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<add key="MessageFromMobile" value="0910999999" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<add key="EgsUrl" value="http://localhost:8800/egs" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
	</appSettings>
	<system.diagnostics>
		<sharedListeners>
			<add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\BpWms3pl\ECLog\Server\BpSqlString.txt" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
		</sharedListeners>
	</system.diagnostics>
	<system.net>
		<mailSettings xdt:Transform="Replace">
			<smtp from="[iWMS 物流平台]&lt;BPWMS@bankpro.com.tw&gt;" deliveryMethod="Network">
				<network host="msa.hinet.net" port="25" defaultCredentials="true" enableSsl="true" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>