<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <securityCryptographyConfiguration defaultHashInstance="SHA256Managed" defaultSymmetricCryptoInstance="DESCryptoServiceProvider">
    <hashProviders>
      <add name="SHA256Managed" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" algorithmType="System.Security.Cryptography.SHA256Managed, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" saltEnabled="true" />
      <add name="SHA1Managed" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" saltEnabled="true" />
      <add name="SHA1CryptoServiceProvider" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" algorithmType="System.Security.Cryptography.SHA1CryptoServiceProvider, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" saltEnabled="true" />
    </hashProviders>
    <symmetricCryptoProviders>
      <add name="DESCryptoServiceProvider" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" algorithmType="System.Security.Cryptography.DESCryptoServiceProvider, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" protectedKeyFilename="C:\BpWms3pl\Key\Wms3pl.key" protectedKeyProtectionScope="LocalMachine" />
    </symmetricCryptoProviders>
  </securityCryptographyConfiguration>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="SqlRolling" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\BpWms3pl\ECLog\Server\BpSqlString.txt" formatter="SqlText" rollInterval="Day" />
      <add name="Exceptions Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\BpWms3pl\ECLog\Server\BpWebServerExceptions.log" formatter="Text Formatter" rollInterval="Day" />
      <!--上線要改掉smtpServer-->
      <add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" toAddress="tammychen@bankpro.com.tw" fromAddress="BPWMS@bankpro.com.tw" subjectLineStarter="[DEV]BPWMS 3PL WebServices orrcued" subjectLineEnder=", please verify it." smtpServer="msa.hinet.net" formatter="Text Formatter" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local:yyyy-MM-dd HH:mm:ss)}{newline}&#xA;{message}:{newline}" name="SqlText" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Exceptions Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="Sql">
        <listeners>
          <add name="SqlRolling" />
        </listeners>
      </add>
      <add switchValue="Warning" name="Debug">
        <listeners>
          <add name="Exceptions Listener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Exceptions Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Default">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="0" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
      <add name="WCF Exception Shielding">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="0" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <dataConfiguration defaultDatabase="BPWMS_MSSQL" />
  <connectionStrings>
		<add name="BPWMS_MSSQL" connectionString="Data Source=172.17.1.171;Initial Catalog=BPWMS;User ID=bpwms; PASSWORD=bpwms" providerName="System.Data.SqlClient" />
		<add name="PHWMS_DEV" connectionString="Data Source=bplogistic.database.windows.net;Initial Catalog=bpwmsdev;User ID=ecwms; PASSWORD=bankpro@2021" providerName="System.Data.SqlClient" />
		<add name="PHWMS_PDT" connectionString="Data Source=bplogistic.database.windows.net;Initial Catalog=phwms;User ID=ecwms; PASSWORD=bankpro@2021" providerName="System.Data.SqlClient" />
		<add name="PHWMS_PDT_A7" connectionString="Data Source=bplogistic.database.windows.net;Initial Catalog=phwms;User ID=ecwms; PASSWORD=bankpro@2021" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <appSettings>
    <add key="Schema" value="BPWMS_MSSQL" />
    <add key="FtpDownloadFolder" value="C:\BPWms\Download\" />
    <add key="MessageFromEmail" value="system@bankpro.com.tw" />
    <add key="MessageFromMobile" value="0910999999" />
    <!--密碼有效期間-->
    <add key="PasswordValidDays" value="180" />
    <!--最小密碼長度-->
    <add key="MinRequiredPasswordLength" value="6" />
    <!--密碼至少要有幾個非數字字元-->
    <add key="MinRequiredNonalphanumericCharacters" value="1" />
    <!--密碼不可重複次數-->
    <add key="UnrepeatableFrequency" value="3" />
    <!--帳號第一次啟用時要強制更新密碼-->
    <add key="IsAccountFirstResetPassword" value="true" />
    <!--統一速達服務網址-->
		<add key="EgsUrl" value="http://desktop-30nreib:8800/egs" />
    <!--HCT 新竹貨運網址-->
    <add key="HctUrl" value="http://is1fax.hct.com.tw/Webedi_Erstno/WS_addrCompare1.asmx" />
	<!--KTJ 大榮貨運網址-->
	<add key="KtjUrl" value="http://api.kerrytj.com/zipservice/ZipApi.ashx" />
    <!--是否啟用指定切換資料庫(0:否 1:是)-->
    <add key="IsEnabledChangeDb" value="1" />
    <!--是否允許同帳號多人登入(0:否 1:是)-->
    <add key="IsAllowSameAccountMultiLogin" value="0" />
    <!--LmsApiUrl -->
    <add key="LmsApiUrl" value="http://lmsdev.agroup.tw/ecoms/wmsapi/BPWMS/" />
    <!--LmsApiAuthToken -->
    <add key="LmsApiAuthToken" value="Bearer TXYzcHJBOVNRZU4zN3d3T1RiQUwyTnpXRXF0bmNnbjFybk05d1NIcTF5M3FLRWczOWdwekFhTHlwTTlCcndTTXBBSmVwQUxNT0pjWm9sWUVIOG14UGM2Ym1MbFRJS09CMnFuZ1dxSWpXKzJiZkttTnNMOVNmTlg0blRBQWt3WU84L2twa0szdXpOM1Yxc2JyNmwvS0hLZ2FWRkNrWjFrV3FEVWtraHhVdmUvRkNoV0M3ZlI3SUVJN0hGZ3J5UE03b1dTRDlhd2d0RVNwdkNKeWpBbVZZZmJlM1N0NGpLT3BOTzhjb2E0N0M5ZTBqSUh6djlKL0tHSE9MOXNEVDkvUnBqWUhSOEtGMnJPQk42cDZkWWpyc0JWS3pBOGs4c1NVVlBWeWE4N0NxSW1zNTFJb1l5RnRMV3UzWDgveUNCeU9lM1YzNm9zcVNSZUZEYWtsWG1MWi9nPT06OhSUdZLCePeHirNw6hTkMsU=" />
    <!--WcsApiUrl -->
    <add key="WcsApiUrl" value="http://localhost/iWms/WcsWebApi/" />
    <!--WcsApiAuthToken -->
    <add key="WcsApiAuthToken" value="12345678" />
		<!--WcssrApiUrl -->
		<add key="WcssrApiUrl" value="http://localhost/cicapi/" />
		<!--WcssrApiAuthToken -->
		<add key="WcssrApiAuthToken" value="12345678" />
		<!-- 配庫模式(0:配揀合一模式 1:配揀分離模式) -->
		<add key="AllotStockMode" value="1" />
		<!-- Api Log至Db(0:僅Exception 1:資訊及Exception 2:不Log) -->
		<add key="ApiLogDbMode" value="1" />
		<!-- Api Log至txt檔(0:僅Exception 1:資訊及Exception 2:不Log) -->
		<add key="ApiLogTxtMode" value="1" />
		<!-- Api Log txt檔的目錄 -->
		<add key="ApiLogTxtFolder" value="C:\Bpwms3pl\" />
	  <!-- HttpClient TxtLog Folder-->
		<add key="HttpClientLogFolder" value="C:\BpWms3pl\" />
    <add key="HttpClientLogMode" value="0" />
	  <!--產生Log檔案路徑-->
	  <add key="LogFilePath" value="C:\Bpwms3pl\File\Performance\" />
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <add name="EF Caching Data Provider" invariant="EFCachingProvider" description="Caching Provider Wrapper" type="EFCachingProvider.EFCachingProviderFactory, EFCachingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
      <add name="EF Tracing Data Provider" invariant="EFTracingProvider" description="Tracing Provider Wrapper" type="EFTracingProvider.EFTracingProviderFactory, EFTracingProvider, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
      <add name="EF Generic Provider Wrapper" invariant="EFProviderWrapper" description="Generic Provider Wrapper" type="EFProviderWrapperToolkit.EFProviderWrapperFactory, EFProviderWrapperToolkit, Version=1.0.0.0, Culture=neutral, PublicKeyToken=def642f226e0e59b" />
    </DbProviderFactories>
  </system.data>
  <system.diagnostics>
    <sources>
      <source name="EntityFramework.Wms3plDbContext" switchValue="All" />
    </sources>
    <switches>
      <add name="SourceSwitch" value="All" />
    </switches>
    <sharedListeners>
      <add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:\BpWms3pl\ECLog\Server\BpSqlString.txt" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4" />
  </system.diagnostics>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.6.1" />
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" timeout="43200" />
    </authentication>
    <authorization>
      <allow users="*" />
      <!--<deny users="?"/>-->
    </authorization>
    <membership defaultProvider="Wms3plMembershipProvider">
      <providers>
        <!--maxInvalidPasswordAttempts: 最多可允許密碼輸入錯誤次數-->
        <add name="Wms3plMembershipProvider" type="Wms3pl.WebServices.ECMembershipProvider, Wms3pl.WebServices" connectionStringName="WmsWebServer" maxInvalidPasswordAttempts="3" minRequiredPasswordLength="6" enablePasswordReset="true" />
      </providers>
    </membership>
    <httpRuntime targetFramework="4.6.1" requestPathInvalidCharacters="" maxRequestLength="2147483647" maxQueryStringLength="2097151" requestValidationMode="2.0" maxUrlLength="1024" />
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0" />
    <!--<customErrors mode="Off"/>-->
    <!--<identity userName="registry:HKLM\SOFTWARE\Wow6432Node\WmsPrinter\identity\ASPNET_SETREG,userName" password="registry:HKLM\SOFTWARE\Wow6432Node\WmsPrinter\identity\ASPNET_SETREG,password" impersonate="true"/>-->
		<machineKey decryptionKey="9C3F7B979BC252B32A0A6753424DDC99E1BC8BF5F453358D" validationKey="B31936F1CDD3269ECBD603D2846AA25080D69FBE1D44C4B9AB0B81BE9552ECA3945978E89E1BCCD0FAF330AF2EAA397560FED17A60860856C633CDA3398911FC" validation="SHA1" decryption="AES" />
	</system.web>
  <system.net>
    <mailSettings>
      <!--<smtp from="charles@bankpro.com.tw" deliveryMethod="SpecifiedPickupDirectory">
        <specifiedPickupDirectory pickupDirectoryLocation="C:\BpWms3pl\mails"/>
        <network host="srvm2"/>
      </smtp>-->
      <smtp from="[BPWMS 物流平台]&lt;BPWMS@bankpro.com.tw&gt;" deliveryMethod="Network">
        <network host="msa.hinet.net" port="25" defaultCredentials="true" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
  <location path="Authentication_JSON_AppService.axd">
    <system.web>
      <authorization>
        <allow users="?" />
      </authorization>
    </system.web>
  </location>
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true" requireSSL="false" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="WebDAVModule" />
    </modules>
    <handlers>
            <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="WebDAV" />
            <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG;PUT;DELETE" type="System.Web.Handlers.TransferRequestHandler" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode,runtimeVersionv4.0" responseBufferLimit="0" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="2147483647" maxQueryString="2097151" />
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logMalformedMessages="false" logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" />
    </diagnostics>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="2147483647" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true">
      <serviceActivations>
        <add relativeAddress="F00DataService.svc" service="Wms3pl.WebServices.DataSevices.F00DataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P01ExDataService.svc" service="Wms3pl.WebServices.Process.P01.P01ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P01WcfService.svc" service="Wms3pl.WebServices.Process.P01.Services.P01WcfService" />
        <add relativeAddress="F01DataService.svc" service="Wms3pl.WebServices.DataSevices.F01DataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P01ExDataService.svc" service="Wms3pl.WebServices.Process.P01.P01ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="F02DataService.svc" service="Wms3pl.WebServices.DataSevices.F02DataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P02ExDataService.svc" service="Wms3pl.WebServices.Process.P02.P02ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P02WcfService.svc" service="Wms3pl.WebServices.Process.P02.Services.P02WcfService" />
        <add relativeAddress="F05DataService.svc" service="Wms3pl.WebServices.DataSevices.F05DataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P05ExDataService.svc" service="Wms3pl.WebServices.Process.P05.P05ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P05WcfService.svc" service="Wms3pl.WebServices.Process.P05.Services.P05WcfService" />
        <add relativeAddress="F06DataService.svc" service="Wms3pl.WebServices.DataSevices.F06DataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P06ExDataService.svc" service="Wms3pl.WebServices.Process.P06.P06ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P06WcfService.svc" service="Wms3pl.WebServices.Process.P06.Services.P06WcfService" />
        <add relativeAddress="P08ExDataService.svc" service="Wms3pl.WebServices.Process.P08.P08ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P08WcfService.svc" service="Wms3pl.WebServices.Process.P08.Services.P08WcfService" />
        <add relativeAddress="F14DataService.svc" service="Wms3pl.WebServices.DataSevices.F14DataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P14ExDataService.svc" service="Wms3pl.WebServices.Process.P14.P14ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P14WcfService.svc" service="Wms3pl.WebServices.Process.P14.Services.P14WcfService" />
        <add relativeAddress="F15DataService.svc" service="Wms3pl.WebServices.DataSevices.F15DataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P15ExDataService.svc" service="Wms3pl.WebServices.Process.P15.P15ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P15WcfService.svc" service="Wms3pl.WebServices.Process.P15.Services.P15WcfService" />
        <add relativeAddress="F16DataService.svc" service="Wms3pl.WebServices.DataSevices.F16DataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P16ExDataService.svc" service="Wms3pl.WebServices.Process.P16.P16ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P16WcfService.svc" service="Wms3pl.WebServices.Process.P16.Services.P16WcfService" />
        <add relativeAddress="P18ExDataService.svc" service="Wms3pl.WebServices.Process.P18.P18ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add relativeAddress="P18WcfService.svc" service="Wms3pl.WebServices.Process.P18.Services.P18WcfService" />
				<add relativeAddress="F19DataService.svc" service="Wms3pl.WebServices.DataSevices.F19DataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P19ExDataService.svc" service="Wms3pl.WebServices.Process.P19.P19ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P19WcfService.svc" service="Wms3pl.WebServices.Process.P19.Services.P19WcfService" />
        <add relativeAddress="F20DataService.svc" service="Wms3pl.WebServices.DataSevices.F20DataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P20ExDataService.svc" service="Wms3pl.WebServices.Process.P20.P20ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P20WcfService.svc" service="Wms3pl.WebServices.Process.P20.Services.P20WcfService" />
        <add relativeAddress="P21ExDataService.svc" service="Wms3pl.WebServices.Process.P21.P21ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P21WcfService.svc" service="Wms3pl.WebServices.Process.P21.Services.P21WcfService" />
        <add relativeAddress="F25DataService.svc" service="Wms3pl.WebServices.DataSevices.F25DataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P25ExDataService.svc" service="Wms3pl.WebServices.Process.P25.P25ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P25WcfService.svc" service="Wms3pl.WebServices.Process.P25.Services.P25WcfService" />
        <add relativeAddress="F50DataService.svc" service="Wms3pl.WebServices.DataSevices.F50DataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P50ExDataService.svc" service="Wms3pl.WebServices.Process.P50.P50ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P50WcfService.svc" service="Wms3pl.WebServices.Process.P50.Services.P50WcfService" />
        <add relativeAddress="F70DataService.svc" service="Wms3pl.WebServices.DataSevices.F70DataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P70ExDataService.svc" service="Wms3pl.WebServices.Process.P70.P70ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P70WcfService.svc" service="Wms3pl.WebServices.Process.P70.Services.P70WcfService" />
        <add relativeAddress="P71ExDataService.svc" service="Wms3pl.WebServices.Process.P71.P71ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P71WcfService.svc" service="Wms3pl.WebServices.Process.P71.Services.P71WcfService" />
        <add relativeAddress="F91DataService.svc" service="Wms3pl.WebServices.DataSevices.F91DataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P91ExDataService.svc" service="Wms3pl.WebServices.Process.P91.P91ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="P91WcfService.svc" service="Wms3pl.WebServices.Process.P91.Services.P91WcfService" />
        <add relativeAddress="F93DataService.svc" service="Wms3pl.WebServices.DataSevices.F93DataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="LoExDataService.svc" service="Wms3pl.WebServices.Shared.Lo.LoExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="ShareExDataService.svc" service="Wms3pl.WebServices.Shared.ShareExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add relativeAddress="SignalRExDataService.svc" service="Wms3pl.WebServices.SignalR.SignalRExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				
        <add relativeAddress="T05ExDataService.svc" service="Wms3pl.WebServices.Transaction.T05.T05ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="T05WcfService.svc" service="Wms3pl.WebServices.Transaction.T05.T05WcfService" />
        <add relativeAddress="R01ExDataService.svc" service="Wms3pl.WebServices.Refind.R01.R01ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="R01WcfService.svc" service="Wms3pl.WebServices.Refind.R01.R01WcfService" />
        <add relativeAddress="S00WcfService.svc" service="Wms3pl.WebServices.Schedule.S00.S00WcfService" />
        <add relativeAddress="S03ExDataService.svc" service="Wms3pl.WebServices.Schedule.S03.S03ExDataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add relativeAddress="S03WcfService.svc" service="Wms3pl.WebServices.Schedule.S03.S03WcfService" />
        <add relativeAddress="S99WcfService.svc" service="Wms3pl.WebServices.Schedule.S99.S99WcfService" />
				<add relativeAddress="SharedWcfService.svc" service="Wms3pl.WebServices.Shared.SharedWcfService" />
				<add relativeAddress="SignalRWcfService.svc" service="Wms3pl.WebServices.SignalR.SignalRWcfService" />
				<add relativeAddress="MembershipProviderService.svc" service="Wms3pl.WebServices.Security.MembershipProviderService" />
				<add relativeAddress="F22DataService.svc" service="Wms3pl.WebServices.DataSevices.F22DataService" factory="System.ServiceModel.Activation.WebServiceHostFactory, System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
				<add relativeAddress="S16WcfService.svc" service="Wms3pl.WebServices.Schedule.S16.S16WcfService" />
				<add relativeAddress="S19WcfService.svc" service="Wms3pl.WebServices.Schedule.S19.S19WcfService" />
        <add relativeAddress="ExportWcfService.svc" service="Wms3pl.WebServices.Schedule.Export.ExportWcfService" />
			</serviceActivations>
    </serviceHostingEnvironment>
		<protocolMapping>
			<add scheme="http" binding="basicHttpBinding" />
			<add scheme="https" binding="basicHttpsBinding" />
		</protocolMapping>
    <bindings>
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" openTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
         <security mode="None">
						<transport clientCredentialType="None"></transport>
					</security> 
				<readerQuotas maxStringContentLength="81920" />
        </binding>
        <binding name="LZWZIPSoap" />
      </basicHttpBinding>
			<basicHttpsBinding>
				<binding maxReceivedMessageSize="2147483647" openTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
					<security mode="Transport">
						<transport clientCredentialType="None"></transport>
					</security>
					<readerQuotas maxStringContentLength="81920" />
				</binding>
				<binding name="LZWZIPSoap" />
			</basicHttpsBinding>
      <netTcpBinding>
        <binding maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" openTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <wsHttpBinding>
        <binding maxReceivedMessageSize="2147483647">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
      <webHttpBinding>
        <binding maxReceivedMessageSize="2147483647" />
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WebService8i/DataService.svc" binding="basicHttpsBinding" contract="O8iService.IDataWcfService" name="BasicHttpBinding_IDataWcfService" />
      <endpoint address="http://32wsp.post.gov.tw/lzwzip/lzwzip.asmx" binding="basicHttpsBinding" bindingConfiguration="LZWZIPSoap" contract="WsZipCode.LZWZIPSoap" name="LZWZIPSoap" />
    </client>
    <services>
      <service name="Wms3pl.WebServices.P19.Services.Wms3plReportService">
        <endpoint address="" binding="wsHttpBinding" contract="Wms3pl.WebServices.P19.Services.IWms3plReportService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="net.tcp://localhost:808/Wms3pl.WebServices/Wms3plReportService.svc" binding="netTcpBinding" contract="Wms3pl.WebServices.P19.Services.IWms3plReportService" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.6.0" newVersion="2.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.6.0" newVersion="2.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.EntityFrameworkCore.Relational" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.6.0" newVersion="2.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>