<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				toAddress="tammychen@bankpro.com.tw"
        smtpServer="msa.hinet.net"
        authenticationMode="UserNameAndPassword" useSSL="false" userName="bankpro" password="1qaz@WSX"
				fromAddress="[PDT]BPWMS@bankpro.com.tw"
        subjectLineStarter="[PDT]PHWMS 3PL Console WmsImportData orrcued " subjectLineEnder=", please verify it." formatter="Text Formatter"
			  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					 fileName="D:\PhWms3pl\Log\Console\Wms3pl.ScheduleModule.Consoles.WmsImportDataException.log" formatter="Text Formatter" rollInterval="Day"
					 xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </listeners>
    <categorySources>
      <add switchValue="All" name="General" xdt:Transform="Replace" xdt:Locator="Match(name)" >
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
          <add name="Email Trace Listener" />
        </listeners>
      </add>
    </categorySources>
  </loggingConfiguration>
  <appSettings>
		<!--產生Log檔案路徑-->
		<add key="FilePath" value="D:\PhWms3pl\File\Schedule\WmsImportData\{0}\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<!--資料庫連線設定Schema.xml存放位置-->
		<add key="SchemaFolder" value="C:\PhWms3pl\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<add key="ApiLogTxtFolder" value="D:\PhWms3pl\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<add key="HttpClientLogFolder" value="D:\PhWms3pl\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="HttpClientLogMode" value="0" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<add key="LmsApiUrl" value="https://lms.agroup.tw/ecoms/wmsapi/BPWMS/"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<add key="LmsApiAuthToken" value="Bearer TXYzcHJBOVNRZU4zN3d3T1RiQUwyTnpXRXF0bmNnbjFybk05d1NIcTF5M3FLRWczOWdwekFhTHlwTTlCcndTTXBBSmVwQUxNT0pjWm9sWUVIOG14UGM2Ym1MbFRJS09CMnFuZ1dxSWpXKzJiZkttTnNMOVNmTlg0blRBQWt3WU84L2twa0szdXpOM1Yxc2JyNmwvS0hLZ2FWRkNrWjFrV3FEVWtraHhVdmUvRkNoV0M3ZlI3SUVJN0hGZ3J5UE03b1dTRDlhd2d0RVNwdkNKeWpBbVZZZmJlM1N0NGpLT3BOTzhjb2E0N0M5ZTBqSUh6djlKL0tHSE9MOXNEVDkvUnBqWUhSOEtGMnJPQk42cDZkWWpyc0JWS3pBOGs4c1NVVlBWeWE4N0NxSW1zNTFJb1l5RnRMV3UzWDgveUNCeU9lM1YzNm9zcVNSZUZEYWtsWG1MWi9nPT06OhSUdZLCePeHirNw6hTkMsU="   xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
	</appSettings>
	<connectionStrings  xdt:Transform="Replace">
		<add name="PHWMS_PDT" connectionString="Data Source=bpwms12.sql;Initial Catalog=bpwms;User ID=bpwms; PASSWORD=1qaz@WSX3edc$RFV" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>