<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="APServerUrl" value="http://52.175.18.142/iWms.WebServices/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
	</appSettings>
	<system.serviceModel>
		<client xdt:Transform="Replace">
			<endpoint address="http://52.175.18.142/iWms.WebServices/SignalRWcfService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SignalRWcfService" contract="SignalRWcfService.SignalRWcfService" name="BasicHttpBinding_SignalRWcfService" />
		</client>
	</system.serviceModel>
</configuration>