<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				toAddress="tammychen@bankpro.com.tw"
        smtpServer="msa.hinet.net"
        authenticationMode="UserNameAndPassword" useSSL="false" userName="bankpro" password="1qaz@WSX"
				fromAddress="[DEV]BPWMS@bankpro.com.tw"
        subjectLineStarter="[DEV]PHWMS 3PL Console WcsExportData orrcued " subjectLineEnder=", please verify it." formatter="Text Formatter"
			  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					 fileName="C:\PhWms3pl\Log\Console\Wms3pl.ScheduleModule.Consoles.WcsExportDataException.log" formatter="Text Formatter" rollInterval="Day"
					 xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </listeners>
    <categorySources>
      <add switchValue="All" name="General" xdt:Transform="Replace" xdt:Locator="Match(name)" >
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
          <add name="Email Trace Listener" />
        </listeners>
      </add>
    </categorySources>
  </loggingConfiguration>
	<appSettings>
		<!--產生Log檔案路徑-->
		<add key="FilePath" value="C:\PhWms3pl\File\Schedule\WcsExportData\{0}\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<!--資料庫連線設定Schema.xml存放位置-->
		<add key="SchemaFolder" value="C:\PhWms3pl\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<add key="WcsApiUrl" value="http://lms-dev.agroup.in/wcsapi/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<!--WcsApiAuthToken -->
		<add key="WcsApiAuthToken" value="K0YvT1R6RlRVRHJsSVBYUTRQK0owM1VyOHAxY0k3UVN5L3Vnb1pvZHlLbXMrbU80RkJxQ05CcCsyZ2V3TWFjVGI1Wm5yTXJwV1pqMUJtUFN2RCtmRmhSVGNjUzlWMXBMamNwNDZQQWNUakVYaGZxVlRmNURIaFZ5b3ZDeVNoNjJIbk05bzJyZGR6TlBLWmswVFBTc21XR0FWQjRSQyswOHBKdlJoQnM3ejUrV2VPQ1dsTXo1ZFVsa1FldGN4UHI3bFM2VFVUQUgvTWRrTVRFTW5mZzQ1WENkSENiWDdSQWF2K1AyNE5vbEZrT2VzZ0FFNk5TQ1E4OFZ1N3Q0cTE5OVZTajdjOTdKK2YrNmFqYjF2dGNQV3c9PTo6jbIDcG8GvIilS7XNLRdMYQ==" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<!--執行最大-->
		<add key="ItemMaxCnt" value="100" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<add key="ApiLogTxtFolder" value="C:\PhWms3pl\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<add key="HttpClientLogFolder" value="C:\PhWms3pl\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="HttpClientLogMode" value="0" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>

	</appSettings>
	<connectionStrings  xdt:Transform="Replace">
		<add name="PHWMS_DEV" connectionString="Data Source=bpwms-dev.sql;Initial Catalog=agroup;User ID=agroup; PASSWORD=mp4t.61j4agroup" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>