<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<!-- In case configuration is not the root element, replace it with root element in source configuration file -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<!--產生Log檔案路徑-->
		<add key="FilePath" value="D:\PhWms3pl\File\Schedule\WcsExportData\{0}\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<!--資料庫連線設定Schema.xml存放位置-->
		<add key="SchemaFolder" value="C:\PhWms3pl\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<add key="WcsApiUrl" value="https://lms15.agroup.tw/wcsapi-15/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<!--WcsApiAuthToken -->
		<add key="WcsApiAuthToken" value="K0YvT1R6RlRVRHJsSVBYUTRQK0owM1VyOHAxY0k3UVN5L3Vnb1pvZHlLbXMrbU80RkJxQ05CcCsyZ2V3TWFjVGI1Wm5yTXJwV1pqMUJtUFN2RCtmRmhSVGNjUzlWMXBMamNwNDZQQWNUakVYaGZxVlRmNURIaFZ5b3ZDeVNoNjJIbk05bzJyZGR6TlBLWmswVFBTc21XR0FWQjRSQyswOHBKdlJoQnM3ejUrV2VPQ1dsTXo1ZFVsa1FldGN4UHI3bFM2VFVUQUgvTWRrTVRFTW5mZzQ1WENkSENiWDdSQWF2K1AyNE5vbEZrT2VzZ0FFNk5TQ1E4OFZ1N3Q0cTE5OVZTajdjOTdKK2YrNmFqYjF2dGNQV3c9PTo6jbIDcG8GvIilS7XNLRdMYQ==" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<!--執行最大-->
		<add key="ItemMaxCnt" value="100" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<add key="ApiLogTxtFolder" value="D:\PhWms3pl\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<add key="HttpClientLogFolder" value="D:\PhWms3pl\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="HttpClientLogMode" value="0" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
	</appSettings>
	<connectionStrings  xdt:Transform="Replace">
		<add name="PHWMS_PDT_A7" connectionString="Data Source=bpwms15.sql;Initial Catalog=bpwms_15;User ID=bpwms; PASSWORD=1qaz@WSX3edc$RFV" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>