<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<securityCryptographyConfiguration defaultHashInstance="SHA256Managed" defaultSymmetricCryptoInstance="DESCryptoServiceProvider">		
		<symmetricCryptoProviders>
			<add name="DESCryptoServiceProvider" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" algorithmType="System.Security.Cryptography.DESCryptoServiceProvider, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" protectedKeyFilename="C:\PhWms3pl\Key\Wms3pl.key" protectedKeyProtectionScope="LocalMachine" 
					 xdt:Locator="Match(name)" xdt:Transform="Replace"/>
		</symmetricCryptoProviders>
	</securityCryptographyConfiguration>
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="SqlRolling" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\PhWms3pl\ECLog\ServerWebApi\WmsSqlString.txt" formatter="SqlText" rollInterval="Day" 
					 xdt:Locator="Match(name)" xdt:Transform="Replace"/>
			<add name="Exceptions Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\PhWms3pl\ECLog\ServerWebApi\WmsWebServerExceptions.log" formatter="Text Formatter" rollInterval="Day" 
					 xdt:Locator="Match(name)" xdt:Transform="Replace"/>
      <add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				toAddress="tammychen@bankpro.com.tw"
        smtpServer="msa.hinet.net"
        authenticationMode="UserNameAndPassword" useSSL="false" userName="" password=""
				fromAddress="[DEV]PHWMS@bankpro.com.tw"
        subjectLineStarter="[DEV]PHWMS 3PL WebApi orrcued " subjectLineEnder=", please verify it." formatter="Text Formatter"
			  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
		</listeners>
	</loggingConfiguration>
	<appSettings>
		<add key="Schema" value="PHWMS_DEV" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<!--憑證取token網址-->
		<add key="AuthorityUrl" value="http://bpwms-dev.agroup.in/iWms.WebApi/"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<add key="RequireSsl" value="false"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<add key="IsEnabledChangeDb" value="0"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<add key="IsAllowSameAccountMultiLogin" value="0" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<!-- Api Log txt檔的目錄 -->
		<add key="ApiLogTxtFolder" value="C:\PhWms3pl\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<add key="HttpClientLogFolder" value="C:\PhWms3pl\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="HttpClientLogMode" value="0" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
	</appSettings>
	<system.diagnostics>		
		<sharedListeners>
			<add name="textListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\PhWms3pl\ECLog\ServerWebApi\WmsSqlString.txt" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
		</sharedListeners>	
	</system.diagnostics>
	<dataConfiguration defaultDatabase="PHWMS_DEV"  xdt:Transform="SetAttributes(defaultDatabase)"   />
    <connectionStrings  xdt:Transform="Replace">
			<add name="PHWMS_DEV" connectionString="Data Source=bpwms-dev.sql;Initial Catalog=agroup;User ID=agroup; PASSWORD=mp4t.61j4agroup;Max Pool Size=220;" providerName="System.Data.SqlClient" />
		</connectionStrings>
  <system.net>
    <mailSettings xdt:Transform="Replace">
      <!--<smtp from="[DEV]PHWMS@bankpro.com.tw&gt;" deliveryMethod="Network">
        <network host="msa.hinet.net" port="25" defaultCredentials="true"  userName="" password="" enableSsl="false"/>
      </smtp>-->
			<smtp from="[DEV]PHWMS@bankpro.com.tw&gt;" deliveryMethod="SpecifiedPickupDirectory">
				<specifiedPickupDirectory pickupDirectoryLocation="C:\PhWms3pl\mails"/>
			</smtp>
    </mailSettings>
  </system.net>
</configuration>