<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:asmv1="urn:schemas-microsoft-com:asm.v1">
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				toAddress="tammychen@bankpro.com.tw"
        smtpServer="msa.hinet.net"
				fromAddress="PHWMS_SYSTEM@bankpro.com.tw"
        subjectLineStarter="[DEV]PHWMS Client 3PL orrcued" subjectLineEnder=", please verify it." formatter="Text Formatter"
			  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					 fileName="C:\PhWms3pl\Log\Client\Wms3pl.WpfClientException.log" formatter="Text Formatter" rollInterval="Day"
					 xdt:Transform="Replace" xdt:Locator="Match(name)"/>
      <add name="UsageRolling" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					 fileName="C:\PhWms3pl\Log\Client\Usage.xml" footer="" formatter="UsageFormatter" header="" rollFileExistsBehavior="Overwrite" rollInterval="Day"
					 xdt:Transform="Replace" xdt:Locator="Match(name)"/>
    </listeners>
    <categorySources>
      <add switchValue="All" name="General" xdt:Transform="Replace" xdt:Locator="Match(name)" >
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
          <add name="Email Trace Listener" />
        </listeners>
      </add>
    </categorySources>
  </loggingConfiguration>
  <appSettings>
    <add key="APServerUrl" value="http://bpwms15dev.agroup.in/iWms.WebServices/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="AGVWebApiUrl" xdt:Locator="Match(key)" xdt:Transform="RemoveAll"/>
    <add key="EnabledVirtalKeyBoard" value="True" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="appType" value="RF" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <!-- 上傳的檔案大小限制 (KB)-->
    <add key="FileSizeLimit" value="200" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <!-- 其它檔案的Share Folder路徑 -->
    <add key="ShareFolderItemFiles" value="C:\PhWms3pl\File\Image\Rt\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <!-- 圖檔路徑 0: GUP -->
    <add key="ShareFolderItemImage" value="C:\PhWms3pl\File\Image\Item\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <!-- 標籤路徑 -->
    <add key="ShareFolderLabel" value="C:\PhWms3pl\File\Label\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <!-- 音效播放 -->
    <add key="SoundDirectoryPath" value="C:\PhWms3pl\SOUND\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <!-- 發生錯誤時的 screen -->
    <add key="ErrorScreenFormatPath" value="C:\PhWms3pl\log\client\{0}_{1:yyyyMMdd HHmmss}.jpg" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <!-- DEBUG 時若發生錯誤，自動開啟檔案檢視例外錯誤的路徑 -->
    <add key="ClientExceptionLogFormatPath" value="C:\PhWms3pl\Log\Client\{0}Exception.log" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="BartenderLicenseIp" value="127.0.0.1" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="InitFolder" value="C:\PhWms3pl\Init\"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="IsNeedInitFile" value="0" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="ShareFolderTemp" value="C:\PhWms3pl\File\temp\"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
    <add key="PositionName" value="測試機" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
  </appSettings>

  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="http://bpwms15dev.agroup.in/iWms.WebServices/Authentication_JSON_AppService.axd" credentialsProvider=""  xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
      </providers>
    </membership>
  </system.web>
  <system.serviceModel>
    <client xdt:Transform="Replace">
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/Wms3plReportService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWms3plReportService" contract="ReportReference.IWms3plReportService" name="WSHttpBinding_IWms3plReportService">
      </endpoint>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/MembershipProviderService.svc" binding="basicHttpBinding" contract="MembershipProviderService.MembershipProvider" name="BasicHttpBinding_MembershipProvider"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/StockQueryService.svc" binding="basicHttpBinding" contract="StockServices.IStockQueryService" name="BasicHttpBinding_IStockQueryService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P01WcfService.svc" binding="basicHttpBinding" contract="P01WcfService.P01WcfService" name="BasicHttpBinding_IP01WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P02WcfService.svc" binding="basicHttpBinding" contract="P02WcfService.P02WcfService" name="BasicHttpBinding_IP02WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P05WcfService.svc" binding="basicHttpBinding" contract="P05WcfService.P05WcfService" name="BasicHttpBinding_IP05WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P08WcfService.svc" binding="basicHttpBinding" contract="P08WcfService.P08WcfService" name="BasicHttpBinding_IP08WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P06WcfService.svc" binding="basicHttpBinding" contract="P06WcfService.P06WcfService" name="BasicHttpBinding_IP06WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P14WcfService.svc" binding="basicHttpBinding" contract="P14WcfService.P14WcfService" name="BasicHttpBinding_IP14WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P15WcfService.svc" binding="basicHttpBinding" contract="P15WcfService.P15WcfService" name="BasicHttpBinding_IP15WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P16WcfService.svc" binding="basicHttpBinding" contract="P16WcfService.P16WcfService" name="BasicHttpBinding_IP16WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P18WcfService.svc" binding="basicHttpBinding" contract="P18WcfService.P18WcfService" name="BasicHttpBinding_IP18WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P19WcfService.svc" binding="basicHttpBinding" contract="P19WcfService.P19WcfService" name="BasicHttpBinding_IP19WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P20WcfService.svc" binding="basicHttpBinding" contract="P20WcfService.P20WcfService" name="BasicHttpBinding_IP20WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P21WcfService.svc" binding="basicHttpBinding" contract="P21WcfService.P21WcfService" name="BasicHttpBinding_IP21WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P25WcfService.svc" binding="basicHttpBinding" contract="P25WcfService.P25WcfService" name="BasicHttpBinding_IP25WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P50WcfService.svc" binding="basicHttpBinding" contract="P50WcfService.P50WcfService" name="BasicHttpBinding_IP50WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P70WcfService.svc" binding="basicHttpBinding" contract="P70WcfService.P70WcfService" name="BasicHttpBinding_IP70WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P71WcfService.svc" binding="basicHttpBinding" contract="P71WcfService.P71WcfService" name="BasicHttpBinding_IP71WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/P91WcfService.svc" binding="basicHttpBinding" contract="P91WcfService.P91WcfService" name="BasicHttpBinding_IP91WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/T05WcfService.svc" binding="basicHttpBinding" contract="T05WcfService.T05WcfService" name="BasicHttpBinding_IT05WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/S03WcfService.svc" binding="basicHttpBinding" contract="S03WcfService.S03WcfService" name="BasicHttpBinding_IS03WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/S05WcfService.svc" binding="basicHttpBinding" contract="S05WcfService.S05WcfService" name="BasicHttpBinding_IS05WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/R01WcfService.svc" binding="basicHttpBinding" contract="R01WcfService.R01WcfService" name="BasicHttpBinding_IR01WcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/SharedWcfService.svc" binding="basicHttpBinding" contract="SharedWcfService.SharedWcfService" name="BasicHttpBinding_IPSharedWcfService"/>
      <endpoint address="http://bpwms15dev.agroup.in/iWms.WebServices/SignalRWcfService.svc" binding="basicHttpBinding" contract="SignalRWcfService.SignalRWcfService" name="BasicHttpBinding_IPSharedWcfService"/>
    </client>
  </system.serviceModel>
</configuration>