<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="securityCryptographyConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.Configuration.CryptographySettings, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Wms3pl.WpfClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<securityCryptographyConfiguration defaultHashInstance="SHA256Managed" defaultSymmetricCryptoInstance="DESCryptoServiceProvider">
		<hashProviders>
			<add name="SHA256Managed" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" algorithmType="System.Security.Cryptography.SHA256Managed, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" saltEnabled="true" />
			<add name="SHA1Managed" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" algorithmType="System.Security.Cryptography.SHA1Managed, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" saltEnabled="true" />
			<add name="SHA1CryptoServiceProvider" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.HashAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" algorithmType="System.Security.Cryptography.SHA1CryptoServiceProvider, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" saltEnabled="true" />
		</hashProviders>
		<symmetricCryptoProviders>
			<add name="DESCryptoServiceProvider" type="Microsoft.Practices.EnterpriseLibrary.Security.Cryptography.SymmetricAlgorithmProvider, Microsoft.Practices.EnterpriseLibrary.Security.Cryptography, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" algorithmType="System.Security.Cryptography.DESCryptoServiceProvider, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" protectedKeyFilename="Wms3pl.key" protectedKeyProtectionScope="LocalMachine" />
		</symmetricCryptoProviders>
	</securityCryptographyConfiguration>
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" />
			<add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\BpWms3pl\Log\Client\Wms3pl.WpfClientException.log" formatter="Text Formatter" rollInterval="Day" />
			<add name="UsageRolling" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\BpWms3pl\Log\Client\Usage.xml" footer="" formatter="UsageFormatter" header="" rollFileExistsBehavior="Overwrite" rollInterval="Day" />
			<add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" toAddress="linrobin@bankpro.com.tw" fromAddress="linrobin@bankpro.com.tw" subjectLineStarter="[DEV]BpWMS 3PL orrcued" subjectLineEnder=", please verify it." smtpServer="msa.hinet.net" formatter="Text Formatter" />
		</listeners>
		<formatters>
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp(local:yyyy-MM-dd HH:mm:ss)}{newline} Message: {message}{newline} Category: {category}{newline} Priority: {priority}{newline} EventId: {eventid}{newline} Severity: {severity}{newline} Title:{title}{newline} Machine: {localMachine}{newline} App Domain: {localAppDomain}{newline} ProcessId: {localProcessId}{newline} Process Name: {localProcessName}{newline} Thread Name: {threadName}{newline} Win32 ThreadId:{win32ThreadId}{newline} Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
			<add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="&lt;r Timestamp='{timestamp(local:yyyy-MM-dd HH:mm:ss)}'  Machine='{localMachine}'  Account='{keyvalue(Account)}' Message='{message}' FunctionId='{keyvalue(FunctionId)}' FunctionName='{keyvalue(FunctionName)}' /&gt;" name="UsageFormatter" />
		</formatters>
		<categorySources>
			<add switchValue="All" name="General">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
			<add switchValue="All" name="Usage">
				<listeners>
					<add name="UsageRolling" />
				</listeners>
			</add>
			<add switchValue="Warning" name="Debug">
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
				</listeners>
			</add>
		</categorySources>
		<specialSources>
			<allEvents switchValue="All" name="All Events" />
			<notProcessed switchValue="All" name="Unprocessed Category" />
			<errors switchValue="Warning" name="Logging Errors &amp; Warnings">
				<listeners>
					<add name="Event Log Listener" />
				</listeners>
			</errors>
		</specialSources>
	</loggingConfiguration>
	<exceptionHandling>
		<exceptionPolicies>
			<add name="Default Policy">
				<exceptionTypes>
					<add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
						<exceptionHandlers>
							<add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" priority="0" />
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
			<add name="UIException">
				<exceptionTypes>
					<add name="Wms3plUIException" type="Wms3pl.WpfClient.UILib.Wms3plUIException, Wms3pl.WpfClient.UILib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=8dbdaba02271ae18" postHandlingAction="None">
						<exceptionHandlers>
							<add name="UserControlExceptionHandler" type="Wms3pl.WpfClient.UILib.UserControlExceptionHandler, Wms3pl.WpfClient.UILib, Version=1.0.0.0, Culture=neutral, PublicKeyToken=8dbdaba02271ae18" />
						</exceptionHandlers>
					</add>
				</exceptionTypes>
			</add>
		</exceptionPolicies>
	</exceptionHandling>
	<appSettings>
		<add key="APServerUrl" value="http://ewmsap/iWms.WebServices/" />
		<add key="AGVWebApiUrl" value="http://ewmsap/iWms.WebServices/" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="DelayHour" value="1" />
		<add key="ITEM_CODE" value="6" />
		<add key="EnabledVirtalKeyBoard" value="True" />
		<add key="appType" value="RF" />
		<add key="FileSizeLimit" value="10000" />
		<add key="ShareFolderItemFiles" value="C:\BpWms3pl\File\Image\File\" />
		<add key="ShareFolderItemImage" value="C:\BpWms3pl\File\Image\Item\" />
		<add key="ShareFolderLabel" value="C:\BpWms3pl\File\Label\" />
		<add key="SoundDirectoryPath" value="C:\BpWms3pl\SOUND\" />
		<add key="ErrorScreenFormatPath" value="C:\BpWms3pl\log\client\{0}_{1:yyyyMMdd HHmmss}.jpg" />
		<add key="ClientExceptionLogFormatPath" value="C:\BpWms3pl\Log\Client\{0}Exception.log" />
		<add key="LogFileStoreDays" value="30" />
	  <add key="BartenderLicenseIp" value="10.71.238.18" />
		<add key="InitFolder" value="C:\BpWms3pl\Init\" />
    <add key="IsNeedInitFile" value="1" />
    <add key="ShareFolderTemp" value="C:\BpWms3pl\File\temp\" />
		<add key="PositionName" value="開發機"/>
	</appSettings>
	<unity>
		<typeAliases>
			<typeAlias alias="createNew" type="Microsoft.Practices.Unity.TransientLifetimeManager, Microsoft.Practices.Unity, Version=2.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
			<typeAlias alias="ILoginService" type="Wms3pl.WpfClient.Services.ILoginService, Wms3pl.WpfClient.Services" />
			<typeAlias alias="INewsService" type="Wms3pl.WpfClient.Services.INewsService, Wms3pl.WpfClient.Services" />
			<typeAlias alias="IDcService" type="Wms3pl.WpfClient.Services.IDcService, Wms3pl.WpfClient.Services" />
			<typeAlias alias="ISettingStorage" type="Wms3pl.WpfClient.Services.ISettingStorage, Wms3pl.WpfClient.Services" />
			<typeAlias alias="IDialogService" type="Wms3pl.WpfClient.UILib.Services.IDialogService, Wms3pl.WpfClient.UILib" />
			<typeAlias alias="IFunctionService" type="Wms3pl.WpfClient.Services.IFunctionService, Wms3pl.WpfClient.Services" />
		</typeAliases>
		<containers>
			<container>
				<types>
					<type type="ISettingStorage" mapTo="Wms3pl.WpfClient.Services.DbSettingsService, Wms3pl.WpfClient.Services" />
					<type type="IDialogService" mapTo="Wms3pl.WpfClient.UILib.Services.WpfDialogService, Wms3pl.WpfClient.UILib">
						<lifetime type="createNew" />
					</type>
					<type type="ILoginService" mapTo="Wms3pl.WpfClient.Services.LoginService, Wms3pl.WpfClient.Services" />
				</types>
			</container>
			<container name="default">
				<types>
					<type type="INewsService" mapTo="Wms3pl.WpfClient.Services.RssNewsService, Wms3pl.WpfClient.Services" />
					<type type="IDcService" mapTo="Wms3pl.WpfClient.Services.DcService, Wms3pl.WpfClient.Services" />
					<type type="IFunctionService" mapTo="Wms3pl.WpfClient.Services.FunctionService, Wms3pl.WpfClient.Services" />
				</types>
			</container>
		</containers>
	</unity>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="http://ewmsap/iWms.WebServices/Authentication_JSON_AppService.axd" credentialsProvider="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="localhost" userName="" password="" />
			</smtp>
		</mailSettings>
	</system.net>
	<system.diagnostics>
		<sources>
			<source name="System.Windows.Data" switchName="SourceSwitch">
				<listeners>
					<!--<add name="textListener" />-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="SourceSwitch" value="All" />
		</switches>
		<sharedListeners>
		</sharedListeners>
		<trace autoflush="true" indentsize="4"></trace>
	</system.diagnostics>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="">
					<dataContractSerializer maxItemsInObjectGraph="6553600" />
					<clientInterceptors />
				</behavior>
			</endpointBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions>
				<add name="clientInterceptors" type="Wms3pl.WpfClient.Common.WcfDataServices.Wms3plBehaviorElement, Wms3pl.WpfClient.Common" />
			</behaviorExtensions>
		</extensions>

		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_IWms3plReportService" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536000" maxConnections="10" maxReceivedMessageSize="655360000">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="8192000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>

				<binding name="NetTcpBinding_IP19DbSqlService" closeTimeout="00:03:00" openTimeout="00:03:00" receiveTimeout="00:10:00" sendTimeout="00:03:00" transactionFlow="false" transferMode="Buffered" transactionProtocol="OleTransactions" hostNameComparisonMode="StrongWildcard" listenBacklog="10" maxBufferPoolSize="524288" maxBufferSize="65536000" maxConnections="10" maxReceivedMessageSize="655360000">
					<readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="8192000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
						<message clientCredentialType="Windows" />
					</security>
				</binding>
			</netTcpBinding>
			<wsHttpBinding>
				<binding name="WSHttpBinding_IWms3plReportService" closeTimeout="00:05:00" openTimeout="00:05:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="8192000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="01:00:00" enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
					</security>
				</binding>
				<binding name="WSHttpBinding_IP19DbSqlService" closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true" allowCookies="false">
					<readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="8192000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<reliableSession ordered="true" inactivityTimeout="00:10:00" enabled="false" />
					<security mode="None">
						<transport clientCredentialType="Windows" proxyCredentialType="None" realm="" />
						<message clientCredentialType="Windows" negotiateServiceCredential="true" algorithmSuite="Default" />
					</security>
				</binding>
			</wsHttpBinding>
			<basicHttpBinding>
				<binding closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360000" maxBufferPoolSize="524288" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="8192000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="None">
						<transport clientCredentialType="None" proxyCredentialType="None" realm="" />
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpBinding>
			<basicHttpsBinding>
				<binding closeTimeout="00:10:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="655360000" maxBufferPoolSize="524288" maxReceivedMessageSize="655360000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="8192000" maxArrayLength="8192000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
					<security mode="Transport">
						<transport clientCredentialType="None"></transport>
						<message clientCredentialType="UserName" algorithmSuite="Default" />
					</security>
				</binding>
			</basicHttpsBinding>
		</bindings>
		<client>
			<endpoint address="http://ewmsap/iWms.WebServices/Wms3plReportService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWms3plReportService" contract="ReportReference.IWms3plReportService" name="WSHttpBinding_IWms3plReportService">
				<identity>
					<dns value="wmsap" />
				</identity>
			</endpoint>
			<endpoint address="http://ewmsap/iWms.WebServices/MembershipProviderService.svc" binding="basicHttpBinding" contract="MembershipProviderService.MembershipProvider" name="BasicHttpBinding_MembershipProvider" />
			<endpoint address="http://ewmsap/iWms.WebServices/StockQueryService.svc" binding="basicHttpBinding" contract="StockServices.IStockQueryService" name="BasicHttpBinding_IStockQueryService" />
			<endpoint address="http://ewmsap/iWms.WebServices/P01WcfService.svc" binding="basicHttpBinding" contract="P01WcfService.P01WcfService" name="BasicHttpBinding_IP01WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/P02WcfService.svc" binding="basicHttpBinding" contract="P02WcfService.P02WcfService" name="BasicHttpBinding_IP02WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/P05WcfService.svc" binding="basicHttpBinding" contract="P05WcfService.P05WcfService" name="BasicHttpBinding_IP05WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/P06WcfService.svc" binding="basicHttpBinding" contract="P06WcfService.P06WcfService" name="BasicHttpBinding_IP06WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/P08WcfService.svc" binding="basicHttpBinding" contract="P08WcfService.P08WcfService" name="BasicHttpBinding_IP08WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/P14WcfService.svc" binding="basicHttpBinding" contract="P14WcfService.P14WcfService" name="BasicHttpBinding_IP14WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/P15WcfService.svc" binding="basicHttpBinding" contract="P15WcfService.P15WcfService" name="BasicHttpBinding_IP15WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/P16WcfService.svc" binding="basicHttpBinding" contract="P16WcfService.P16WcfService" name="BasicHttpBinding_IP16WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/P18WcfService.svc" binding="basicHttpBinding" contract="P18WcfService.P18WcfService" name="BasicHttpBinding_IP18WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/P19WcfService.svc" binding="basicHttpBinding" contract="P19WcfService.P19WcfService" name="BasicHttpBinding_IP19WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/P20WcfService.svc" binding="basicHttpBinding" contract="P20WcfService.P20WcfService" name="BasicHttpBinding_IP20WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/P21WcfService.svc" binding="basicHttpBinding" contract="P21WcfService.P21WcfService" name="BasicHttpBinding_IP21WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/P25WcfService.svc" binding="basicHttpBinding" contract="P25WcfService.P25WcfService" name="BasicHttpBinding_IP25WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/P50WcfService.svc" binding="basicHttpBinding" contract="P50WcfService.P50WcfService" name="BasicHttpBinding_IP50WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/P70WcfService.svc" binding="basicHttpBinding" contract="P70WcfService.P70WcfService" name="BasicHttpBinding_IP70WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/P71WcfService.svc" binding="basicHttpBinding" contract="P71WcfService.P71WcfService" name="BasicHttpBinding_IP71WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/P91WcfService.svc" binding="basicHttpBinding" contract="P91WcfService.P91WcfService" name="BasicHttpBinding_IP91WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/T05WcfService.svc" binding="basicHttpBinding" contract="T05WcfService.T05WcfService" name="BasicHttpBinding_IT05WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/S00WcfService.svc" binding="basicHttpBinding" contract="S00WcfService.S00WcfService" name="BasicHttpBinding_IS00WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/S03WcfService.svc" binding="basicHttpBinding" contract="S03WcfService.S03WcfService" name="BasicHttpBinding_IS03WcfService" />
      <endpoint address="http://ewmsap/iWms.WebServices/S05WcfService.svc" binding="basicHttpBinding" contract="S05WcfService.S05WcfService" name="BasicHttpBinding_IS05WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/R01WcfService.svc" binding="basicHttpBinding" contract="R01WcfService.R01WcfService" name="BasicHttpBinding_IR01WcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/SharedWcfService.svc" binding="basicHttpBinding" contract="SharedWcfService.SharedWcfService" name="BasicHttpBinding_IPSharedWcfService" />
			<endpoint address="http://ewmsap/iWms.WebServices/SignalRWcfService.svc" binding="basicHttpBinding" contract="SignalRWcfService.SignalRWcfService" name="BasicHttpBinding_IPSharedWcfService" />
		</client>
	</system.serviceModel>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-0.84.0.0" newVersion="0.84.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.6.0.0" newVersion="5.6.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Telerik.Windows.Controls" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2014.2.617.45" newVersion="2014.2.617.45" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Telerik.Windows.Data" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2014.2.617.45" newVersion="2014.2.617.45" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Telerik.Windows.Controls.Input" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2014.2.617.45" newVersion="2014.2.617.45" />
			</dependentAssembly>
      <dependentAssembly>
         <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
         <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0" />
       </dependentAssembly>
       <dependentAssembly>
         <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
         <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0" />
       </dependentAssembly>
       <dependentAssembly>
         <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
         <bindingRedirect oldVersion="13.0.2000.0" newVersion="13.0.3500.0" />
       </dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.EntityFrameworkCore" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.6.0" newVersion="2.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Interactive.Async" publicKeyToken="94bc3704cddfc263" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.EntityFrameworkCore.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.6.0" newVersion="2.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.1" newVersion="4.0.3.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.EntityFrameworkCore.Relational" publicKeyToken="adb9793829ddae60" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.2.6.0" newVersion="2.2.6.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.4.0" newVersion="4.0.4.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<applicationSettings>
		<Wms3pl.WpfClient.Properties.Settings>
   <setting name="IsDev" serializeAs="String">
    <value>True</value>
   </setting>
  </Wms3pl.WpfClient.Properties.Settings>
	</applicationSettings>

</configuration>
