<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Rolling Flat File Trace Listener" />
          <add name="Email Trace Listener" xdt:Transform="Insert"/>
        </listeners>
      </add>
    </categorySources>
  </loggingConfiguration>
  <unity>
    <containers>
      <container>
        <types>
          <type type="ISettingStorage" mapTo="Wms3pl.WpfClient.Services.DbSettingsService, Wms3pl.WpfClient.Services"
                xdt:Transform="Replace" xdt:Locator="Match(type)" />
        </types>
      </container>
    </containers>
  </unity>
</configuration>