<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform" xmlns:asmv1="urn:schemas-microsoft-com:asm.v1">
	<loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
		<listeners>
			<add name="Email Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.EmailTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					 listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.EmailTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
				toAddress="tammychen@bankpro.com.tw"
        smtpServer="msa.hinet.net"
				fromAddress="PHWMS_SYSTEM@bankpro.com.tw"
        subjectLineStarter="[PDT]PHWMS Client 3PL orrcued" subjectLineEnder=", please verify it." formatter="Text Formatter"
			  xdt:Transform="Replace" xdt:Locator="Match(name)"/>
			<add name="Rolling Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					 fileName="C:\PhWms3pl\Log\Client\Wms3pl.WpfClientException.log" formatter="Text Formatter" rollInterval="Day"
					 xdt:Transform="Replace" xdt:Locator="Match(name)"/>
			<add name="UsageRolling" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					 fileName="C:\PhWms3pl\Log\Client\Usage.xml" footer="" formatter="UsageFormatter" header="" rollFileExistsBehavior="Overwrite" rollInterval="Day"
					 xdt:Transform="Replace" xdt:Locator="Match(name)"/>
		</listeners>
		<categorySources>
			<add switchValue="All" name="General" xdt:Transform="Replace" xdt:Locator="Match(name)" >
				<listeners>
					<add name="Rolling Flat File Trace Listener" />
					<add name="Email Trace Listener" />
				</listeners>
			</add>
		</categorySources>
	</loggingConfiguration>
	<appSettings>
		<add key="APServerUrl" value="https://bpwms15.agroup.tw/iWms.WebServices/" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<add key="AGVWebApiUrl" xdt:Locator="Match(key)" xdt:Transform="RemoveAll"/>
		<add key="EnabledVirtalKeyBoard" value="True" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<add key="appType" value="RF" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<!-- 上傳的檔案大小限制 (KB)-->
		<add key="FileSizeLimit" value="200" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<!-- 其它檔案的Share Folder路徑 -->
		<add key="ShareFolderItemFiles" value="C:\PhWms3pl\File\Image\Rt\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<!-- 圖檔路徑 0: GUP -->
		<add key="ShareFolderItemImage" value="C:\PhWms3pl\File\Image\Item\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<!-- 標籤路徑 -->
		<add key="ShareFolderLabel" value="C:\PhWms3pl\File\Label\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<!-- 音效播放 -->
		<add key="SoundDirectoryPath" value="C:\PhWms3pl\SOUND\" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<!-- 發生錯誤時的 screen -->
		<add key="ErrorScreenFormatPath" value="C:\PhWms3pl\log\client\{0}_{1:yyyyMMdd HHmmss}.jpg" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<!-- DEBUG 時若發生錯誤，自動開啟檔案檢視例外錯誤的路徑 -->
		<add key="ClientExceptionLogFormatPath" value="C:\PhWms3pl\Log\Client\{0}Exception.log" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<add key="BartenderLicenseIp" value="127.0.0.1" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<add key="InitFolder" value="C:\PhWms3pl\Init\"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
		<add key="IsNeedInitFile" value="0" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<add key="ShareFolderTemp" value="C:\PhWms3pl\File\temp\"  xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
		<add key="PositionName" value="A7正式機" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"/>
	</appSettings>

	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=" https://bpwms15.agroup.tw//iWms.WebServices/Authentication_JSON_AppService.axd" credentialsProvider=""  xdt:Locator="Match(name)" xdt:Transform="SetAttributes"/>
			</providers>
		</membership>
	</system.web>
	<system.serviceModel>
		<client xdt:Transform="Replace">
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/Wms3plReportService.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IWms3plReportService" contract="ReportReference.IWms3plReportService" name="WSHttpBinding_IWms3plReportService">
			</endpoint>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/MembershipProviderService.svc" binding="basicHttpsBinding" contract="MembershipProviderService.MembershipProvider" name="BasicHttpsBinding_MembershipProvider"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/StockQueryService.svc" binding="basicHttpsBinding" contract="StockServices.IStockQueryService" name="BasicHttpsBinding_IStockQueryService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P01WcfService.svc" binding="basicHttpsBinding" contract="P01WcfService.P01WcfService" name="BasicHttpsBinding_IP01WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P02WcfService.svc" binding="basicHttpsBinding" contract="P02WcfService.P02WcfService" name="BasicHttpsBinding_IP02WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P05WcfService.svc" binding="basicHttpsBinding" contract="P05WcfService.P05WcfService" name="BasicHttpsBinding_IP05WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P08WcfService.svc" binding="basicHttpsBinding" contract="P08WcfService.P08WcfService" name="BasicHttpsBinding_IP08WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P06WcfService.svc" binding="basicHttpsBinding" contract="P06WcfService.P06WcfService" name="BasicHttpsBinding_IP06WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P14WcfService.svc" binding="basicHttpsBinding" contract="P14WcfService.P14WcfService" name="BasicHttpsBinding_IP14WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P15WcfService.svc" binding="basicHttpsBinding" contract="P15WcfService.P15WcfService" name="BasicHttpsBinding_IP15WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P16WcfService.svc" binding="basicHttpsBinding" contract="P16WcfService.P16WcfService" name="BasicHttpsBinding_IP16WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P18WcfService.svc" binding="basicHttpsBinding" contract="P18WcfService.P18WcfService" name="BasicHttpsBinding_IP18WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P19WcfService.svc" binding="basicHttpsBinding" contract="P19WcfService.P19WcfService" name="BasicHttpsBinding_IP19WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P20WcfService.svc" binding="basicHttpsBinding" contract="P20WcfService.P20WcfService" name="BasicHttpsBinding_IP20WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P21WcfService.svc" binding="basicHttpsBinding" contract="P21WcfService.P21WcfService" name="BasicHttpsBinding_IP21WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P25WcfService.svc" binding="basicHttpsBinding" contract="P25WcfService.P25WcfService" name="BasicHttpsBinding_IP25WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P50WcfService.svc" binding="basicHttpsBinding" contract="P50WcfService.P50WcfService" name="BasicHttpsBinding_IP50WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P70WcfService.svc" binding="basicHttpsBinding" contract="P70WcfService.P70WcfService" name="BasicHttpsBinding_IP70WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P71WcfService.svc" binding="basicHttpsBinding" contract="P71WcfService.P71WcfService" name="BasicHttpsBinding_IP71WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/P91WcfService.svc" binding="basicHttpsBinding" contract="P91WcfService.P91WcfService" name="BasicHttpsBinding_IP91WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/T05WcfService.svc" binding="basicHttpsBinding" contract="T05WcfService.T05WcfService" name="BasicHttpsBinding_IT05WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/S03WcfService.svc" binding="basicHttpsBinding" contract="S03WcfService.S03WcfService" name="BasicHttpsBinding_IS03WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/S05WcfService.svc" binding="basicHttpsBinding" contract="S05WcfService.S05WcfService" name="BasicHttpsBinding_IS05WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/R01WcfService.svc" binding="basicHttpsBinding" contract="R01WcfService.R01WcfService" name="BasicHttpsBinding_IR01WcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/SharedWcfService.svc" binding="basicHttpsBinding" contract="SharedWcfService.SharedWcfService" name="BasicHttpsBinding_IPSharedWcfService"/>
			<endpoint address="https://bpwms15.agroup.tw/iWms.WebServices/SignalRWcfService.svc" binding="basicHttpsBinding" contract="SignalRWcfService.SignalRWcfService" name="BasicHttpsBinding_IPSharedWcfService"/>
		</client>
	</system.serviceModel>
</configuration>